/*master.css*/
/*--------    CSS Globales ------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
}
img , video{
    width: 100%;
}
li{
    list-style-type: none;
}

/*-------- CSS Header  --------*/
.header{
    /*display: flex;*/
    justify-content: space-between;
    /*grid-template-columns: 1fr 2fr;
    gap: 10px;*/ 
    background-color: teal;
}
.logo{
    width: 100%;
}
.menu .opciones{
    width: 100%;
}

.opciones li{
    text-align: center;
}
.opciones li a{
    
    color: white;
    text-decoration: none;
    padding: 10px;
}
.opciones li a:hover{
    text-decoration: underline;
}

/*------------- CSS Imagen  --------------*/
.imagen{
    display: none;
    background-image: url('../img/bicicleta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

/*-------- CSS Productos ------------*/
/*.productos{
    display: flex;
    flex-wrap: nowrap;
}
*/
.productos article img{
    padding: 10px;
    border-radius: 20px;
}

/*----------- CSS Footer  ---------------------*/
.footer{
    text-align: center;
    background-color: teal;
    color: white;
    /*display: flex;
    justify-content: space-between;*/
}
h2 a{
    color: white;
}


/*Aquí dispongo las Media Queries*/
@media (min-width: 768px){
    .imagen{
        display: block;
    }
    /*Team Flexbox*/
    .productos{
        display: flex;
        flex-wrap: wrap;
    }
    article{
        width: 50%;
    }
    /*Team grid*/
    /*
    .productos{
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*article{
        width: 50%;
    }*/


    .footer{
        display: flex;
        justify-content: space-between;
    }
}

/*Aquí dispongo las media queries para un dispositivo grande*/
@media (min-width: 1200px){
    article{
        width: 33.33%;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*grid-template-columns: 1fr 2fr;
        gap: 10px;*/ 
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 100;   /*paralax*/
    }
    
    .video{
        position: relative;
    }
    .titulo{
        position: absolute;
        top: 350px;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px;
        text-align: center;
        width: 100%;
        font-size: 3rem;   /*font (parrafo) 16px  ( 3 * 16 )*/
    }
    
    .logo{
        width: 20%;
    }
    .menu .opciones{
        width: 80%;
    }
    .opciones{
        display: flex;
        
    } 
    .articulo{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .detalle{
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        position: absolute;
        /*right: 120px;*/
        top: 220px;
        padding: 10px;
    }
    article img{
        opacity: 1;
    }
    article img:hover{
        opacity: 0.6;
    }

}




